@import url(./__avatar/about__avatar.css);
@import url(./__subtitle/about__subtitle.css);
@import url(./__title/about__title.css);
@import url(./__info/about__info.css);
@import url(./__content/about__content.css);

.about {
    min-height: 624px; 
    display: flex;
    width: 100%;
}